#line0{
    visibility: hidden;
}


#line1{
    font-size: xx-large;
}

#line2{
    font-size: large;
    color: gray;
}

.resultDisplay{
    text-align: right;
    width: 90%;
    display: block;
    margin:auto;
    margin-top:50px
}

.firstButton {
    display:block;
    width:20%;
    margin-left:5%;
    margin-top:3%;
    height:45px;
    float:left;
}

.nonFirstButton {
    width:20%;
    display:block;
    margin-left:3%;
    margin-top:3%;
    height:45px;
    float:left;
}


.firstLongButton {
    display:block;
    width:43%;
    margin-left:5%;
    margin-top:3%;
    height:45px;
    float:left
}

.nonFirstTallButton {
    width:20%;
    display:block;
    margin-left:3%;
    margin-top:-45px;
    height:101px;
    float:left
}

.calculatorBody {
    z-index: -1;
    position:absolute;
    border:thin solid darkgray;
    border-radius: 20px;
    background: darkseagreen;
    width: 25%;
    margin-left: 25.5%;
    height:480px;
    margin-top:35px
}
